#my_groups.block.groups_list
  %h2 
    Your Groups
    %span.description &mdash; All the groups that are created by you.
  .content
    - if @my_groups.size > 0
      %ul
        - for group in @my_groups
          %li
            = image_tag("thumbnails/users32.png", :class => "icon")
            = link_to(image_tag("icons/plus.png") + " Share", shares_path(:group => group.id), :class => "button")
            %h3= link_to(group.name, group_path(group))
            %p= truncate(group.description, :length => 160)
    - else
      %p 
        You haven't created any groups yet.
        = link_to("Create a group?", new_group_path)

#member_of_groups.block.groups_list
  %h2 
    Groups You're In
    %span.description &mdash; All the groups that you are currently belonging to.
  .content
    - if @groups.size > 0
      %ul
        - for group in @groups
          - if group.creator != current_user
            %li
              = image_tag("thumbnails/users32.png", :class => "icon")
              = link_to(image_tag("icons/door-open-in.png") + " Unjoin", unjoin_group_path(group), :method => :delete, :class => "button")
              %h3= link_to(group.name, group_path(group))
              %p= group.description
    - else
      %p 
        = image_tag("icons/information-balloon.png")
        You haven't joined any group yet.
        = link_to("Join a group?", join_group_path)