-for item in @shares
  - classes = "last" if item == @shares.last
  %li{:class => classes}
    -#.icon.grid_1.alpha=image_tag("../images/thumbnails/user32.png", :class => "icon")
    .icon.grid_1.alpha=gravatar(item.user.email, :class => 'icon', :size => 39)
    .feed.grid_9.omega
      - case item.content_type
        - when 'Video'
          %p.feed
            = "#{link_to item.user.fullname} shared a #{link_to('Video', item.content.url)} in #{link_to(item.group.name, item.group)}"
            %span.ago= "#{time_ago_in_words(item.created_at)} ago"
          .details
            %h3.title
              = image_tag("../images/#{item.content.class.name.downcase}.png")
              = link_to(item.content.title, item.content.url) + " #{image_tag("icons/shortcut-small.png")}"
            %p.description= auto_link(truncate(item.content.description, :length => 160))
        - when 'News'
          %p.feed
            = "#{link_to item.user.fullname} posted a #{link_to('News', '#')} in #{link_to(item.group.name, item.group)}"
            %span.ago= "#{time_ago_in_words(item.created_at)} ago"
          .details
            %h3.title
              = image_tag("../images/#{item.content.class.name.downcase}.png")
              = link_to item.content.title, '#'
            %p.description= auto_link(truncate(item.content.body, :length => 160))
        - when 'Document'
          %p.feed
            = "#{link_to item.user.fullname} shared a #{link_to(item.content.name, '#')} in #{link_to(item.group.name, item.group)}"
            %span.ago= "#{time_ago_in_words(item.created_at)} ago"
          .details
            %h3.title
              = image_tag("../images/#{item.content.class.name.downcase}.png")
              = link_to item.content.title, item.content.file
            %p.description= auto_link(truncate(item.content.body, :length => 160))
      - if item.user ==  current_user
        = link_to(image_tag("icons/cross.png") + " Delete", share_path(item), :method => :delete, :class => "button", :confirm => "Are you sure you want to delete this share?")
        %br
        %br
      %p.timestamp
        %span.type= item.content.name + ", "
        = item.created_at.to_s(:long)
        = "by #{item.user.login}"
